# --- MySQL ---
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=password
FORWARD_DB_PORT=3306

# --- Mailpit ---
# 1025 = SMTP port your apps send mail to
# 8025 = web dashboard to view caught emails
FORWARD_MAILPIT_PORT=1025
FORWARD_MAILPIT_DASHBOARD_PORT=8025

# --- Adminer ---
FORWARD_ADMINER_PORT=8080
